@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --green-color: hsl(75, 94%, 57%);
    --gren-active-color: hsl(75, 94%, 47%);
    --white-color: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --paragraph-font-size: 14px;
    --regular-weight: 400;
    --semi-bold-weight: 600;
    --bold-weigth: 700
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-900);
}

.container {
    width: 75%;
    max-width: 350px;
    background-color: var(--grey-800);
    border-radius: 20px;
    padding: 20px;
}

.container .info-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 25px;
}

.container .info-container > img {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.container .info-container .name-locate > h2 {
    color: var(--white-color);
    font-weight: var(--bold-weigth);
    margin-bottom: 10px;
}

.container .info-container .name-locate > p {
    font-size: var(--paragraph-font-size);
    color: var(--green-color);
    font-weight: var(--semi-bold-weight);
}

.container .info-container > p {
    color: var(--white-color);
    font-size: var(--paragraph-font-size);
    font-weight: var(--regular-weight);
}

ul {
    text-decoration: none;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul > li {
    /* width: 100%; */
    text-align: center;
    color: var(--white-color);
    background-color: var(--grey-700);
    font-weight: var(--semi-bold-weight);
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

ul > li > a {
    display: inline-block;
    width: 100%;
    padding: 14px 0;
    color: inherit;
    text-decoration: none;
}

ul > li:hover {
    background-color: var(--green-color);
    color: var(--grey-800);
}

ul > li:active {
    background-color: var(--gren-active-color);
}

@media (min-width: 467px) {
    .container {
        padding: 40px;
    }
}